# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/tmp/
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Packaged artifacts
*.exe
*.blockmap
*.yaml
!pnpm-lock.yaml
